.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  width: 250px;
  height: 100px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(13, 61, 236);
}

.button {
  flex: 1;
  background-color: rgb(12, 99, 230);
  color: white;
  border: none;
  padding: 10px 50px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
}
